NET "write_clk_p" LOC=X; # write_clk:0.p
NET "write_clk_n" LOC=X; # write_clk:0.n
NET "read_clk_p" LOC=X; # read_clk:0.p
NET "read_clk_n" LOC=X; # read_clk:0.n
NET "gtp_tx_p" LOC=X; # gtp_tx:0.p
NET "gtp_tx_n" LOC=X; # gtp_tx:0.n
NET "gtp_rx_p" LOC=X; # gtp_rx:0.p
NET "gtp_rx_n" LOC=X; # gtp_rx:0.n
NET "din_a" LOC=X; # din:0.a
NET "din_b" LOC=X; # din:0.b
NET "din_c" LOC=X; # din:0.c
NET "din_d" LOC=X; # din:0.d
NET "din_e" LOC=X; # din:0.e
NET "din_f" LOC=X; # din:0.f
NET "din_g" LOC=X; # din:0.g
NET "din_h" LOC=X; # din:0.h
NET "dtin_a" LOC=X; # dtin:0.a
NET "dtin_b" LOC=X; # dtin:0.b
NET "writable" LOC=X; # writable:0
NET "we" LOC=X; # we:0
NET "re" LOC=X; # re:0
NET "link_ready" LOC=X; # link_ready:0
